/vendor/

/.env
/.env.backup
/.env.local
/.env.production.local
/.phpunit.result.cache

/.idea/
/.vscode/

*.log
*.cache
/tests/Coverage/
/coverage/
.coverage
coverage.xml
*.cover
.phpunit.cache
.php_cs.cache
.phpstorm.meta.php
.phpstorm.external.php
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/.phpstorm.external.php
.DS_Store
